@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body{
    background: url('bg.jpg');
    color: #000000;
    margin-left: 15%;
    margin-right: 15%;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.logo{
    display: flex;
    justify-content: center;
}

.menu{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;

}

.menu-item{
    font-size: 22px;
    padding: 10px;
}

.menu-item a{
    color: #FFFFFF;
    text-decoration: none;
}

.menu-item a:hover{
    color: #FFFFFF;
    font-weight: 700;
}

.footer{
    display: flex;
    justify-content: center;
    background: rgb(255, 208, 35);
    font-size: 16px;
    font-weight: 500;
    padding: 20px;
    margin-bottom: 20px;
}

.container{
    background:#FFFFFF ;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    box-shadow: 4px 4px 12px rgb(164, 187, 255);
}

h1{
    font-size: 40px;
    font-weight: 300;
}

.item1{
    text-align: left;
    padding-right: 20px;
    max-width: 60%;
}

.item2{
    text-align: left;
    padding-left: 20px;
}

.subitem1{
    font-size: 20px;
    font-weight: 700;
    margin:0px;    
}

.subitem2{
    font-size: 20px;
    font-weight: 400;
    margin:0px;    
}

.image {
    width: 150px;
    padding-top: 10px
}

.sect1{
    display: flex;
    justify-content: center;
    background: rgb(250, 36, 28);
    color: #FFFFFF;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 20px;
}

.info {
    text-align: left;
    padding:20px;
    font-size: 20px;
    margin: 0 10% 0 10%;
}

.item_tit{
    padding: 20px;
    font-size: 30px;
    font-weight: 700;
}

.link {
    text-decoration: none;
}










