@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body{
    background: url('bg.jpg');
    color: #000000;
    margin-left: 15%;
    margin-right: 15%;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.logo{
    display: flex;
    justify-content: center;
}

.menu{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;

}

.menu-item{
    font-size: 22px;
    padding: 10px;
}

.menu-item a{
    color: #FFFFFF;
    text-decoration: none;
}

.menu-item a:hover{
    color: #FFFFFF;
    font-weight: 700;
}

.footer{
    display: flex;
    justify-content: center;
    background: rgb(255, 208, 35);
    font-size: 16px;
    font-weight: 500;
    padding: 20px;
    margin-bottom: 20px;
}

.container{
    background:#FFFFFF ;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    box-shadow: 4px 4px 12px rgb(164, 187, 255);
}

h1{
    font-size: 40px;
    font-weight: 300;
}

.item1{
    text-align: left;
    padding-right: 20px;
    max-width: 60%;
}

.item2{
    text-align: left;
    padding-left: 20px;
}

.subitem1{
    font-size: 20px;
    font-weight: 700;
    margin:0px;    
}

.subitem2{
    font-size: 20px;
    font-weight: 400;
    margin:0px;    
}

.image {
    width: 150px;
    padding-top: 10px
}

.sect1{
    display: flex;
    justify-content: center;
    background: rgb(250, 36, 28);
    color: #FFFFFF;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 20px;
}

.info {
    text-align: left;
    padding:20px;
    font-size: 20px;
    margin: 0 10% 0 10%;
}

.item_tit{
    padding: 20px;
    font-size: 30px;
    font-weight: 700;
}

.link {
    text-decoration: none;
}

.sec_por {
    font-size: 18px;
    font-weight: 300;
    margin: 8px 0px 0px 0px;
}


.container_lev{
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 20px;
    background: #FFFFFF;
}

.container_sublev{
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
    padding: 10px;

}

.item_lev{
    text-align: left;
    padding: 10px;
    font-size: 16px;
    font-weight: 700;
}

.level{
    height: 15px;
    width: 200px;
    background: rgb(224, 224, 224);
    border-radius: 10px;
}

.level1{
    height: 15px;
    width: 80%;
    background: rgb(240, 225, 24);
    border-radius: 10px;
}

.sec_por2 {
    font-size: 18px;
    font-weight: 300;
    margin: 38px 0px 0px 0px;
}

.level_exp{
    font-size: 14px;
    width: 200px;
    background: rgb(224,224,224);
    border-radius: 10px;
    padding: 20px;
}

.form_group{
    background: rgb(255, 208, 35);
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin: 30px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 2px 2px 4px rgb(240, 231, 92);
}

.form1{
    margin-top: 15px;
}

.form2{
    margin-top: 45px;
}

.form3{
    margin-top: 15px;
    margin-bottom: 25px;
}

.subform{
    border: none;
    border-bottom: 1px solid #333;
    font-size: 22px;
    letter-spacing: 1px;
    background: rgb(250, 210, 36);
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    outline: none;
}

.subform::placeholder{
    color: #333;
    font-weight: 500;
}

.subform:focus{
    border-bottom: 1px solid rgb(224, 20, 20);
}

.subform_btn{
    background: none;
    border: none;
    color: rgb(224, 20, 20);
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 22px;
}




















